<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign In | Vapid Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  <link rel="stylesheet" href="/dashboard/assets/stylesheets/dashboard.css">
</head>
<body class="auth">
  <main>
    <img src="/dashboard/assets/images/logo.svg" class="logo" alt="Vapid logo">

    <%- include('../flash') %>
    
    <form class="ui form" method="post">
      <div class="field">
        <label class="hidden">Email</label>
        <input type="text" name="email" placeholder="Email" autofocus>
      </div>
      <div class="field">
        <label class="hidden">Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <input type="submit" class="ui fluid button" value="Sign In">
    </form>
  </main>
</body>
</html>