<h1 class="ui header"><%- record.group.displayName %></h1>

<form class="ui form" action="<%- action %>" method="POST">
  <% for (let fieldName in record.group.fields) { %>
    <%- record.group.formField(fieldName, record.content[fieldName]) %>
  <% } %>

  <input class="ui button" type="submit" value="Update">
</form>
