.pusher {
   padding: 1.5rem 3rem 3rem 18rem;
 }

.sidebar .item:last-of-type:before {
  display: none;
}

.logo:hover {
  background: transparent !important;
}

  .logo img {
    padding: 1rem 2rem;
  }

.ui.form,
.ui.segment,
.ui.table {
  max-width: 60rem !important;
}

  .ui.form .field > label {
    text-transform: capitalize;
  }

main > .ui.clearing.segment {
  padding-top: 0;
}

.hidden {
  display: none !important;
}

/* Auth */
body.auth {
  display: flex;
  align-items: center;
  background: #1b1c1d;
  color: white;
}

  body.auth main {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }

  body.auth .logo {
    max-width: 180px;
    margin-bottom: 2rem;
  }