.pusher {
  width: 100%;
  max-width: 80rem;
  padding: 1.5rem 3rem 3rem 18rem;
}

 main > .ui.clearing.segment {
  padding-top: 0;
 }

.hidden {
  display: none !important;
}

.sidebar .item:last-of-type:before {
  display: none;
}

.sidebar .logo {
  margin: 0.5rem 2rem;
}
  .sidebar .item:first-of-type:hover {
    background: transparent !important;
  }

/* Forms */
.ui.form div.previewable {
  padding: 1em;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0.28571429rem;
}

  .ui.form div.previewable input:first-of-type {
    padding: 0;
    border: 0;
  }

  .ui.form div.previewable .preview {
    display: block;
    margin: 1rem 0;
    max-width: 150px;
    max-height: 150px;
  }

.ui.form .field > small {
  color: #666;
}

.ui.form .field.error > small {
  color: #9f3a38
}

.ui.form .ui.checkbox {
  display: block;
  margin-bottom: 0.5rem;
}

.ui.form .ui.checkbox:after {
  display: none;
}

.ui.form .field.error trix-editor,
.ui.form .field.error .ace_editor,
.ui.form .field.error .previewable {
  background-color: #fff6f6;
  border-color: #e0b4b4;
}

/* Auth */
body.auth {
  display: flex;
  align-items: center;
  color: #1b1c1d;
}

  body.auth main {
    width: 320px;
    margin: 0 auto;
  }

  body.auth .logo {
    display: block;
    max-width: 160px;
    margin: 0 auto 2rem;
  }

  body.auth .logo path {
    fill: #1b1c1d;
  }

/* Error */
body.error .vertical.segment {
  padding: 1rem !important;
}

body.error .table {
  max-width: 40rem;
}

  body.error .table td:first-of-type {
    font-weight: bold;
  }